<!doctype html>
{% load static %}
{% load humanize %}
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interactive Sales Dashboard </title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- inject:css-->

	  <link rel="stylesheet" type="text/css" href="{% static 'assets/d3site/dc.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/bootstrap/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/daterangepicker.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/fontawesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/footable.standalone.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/fullcalendar@5.2.0.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/jquery-jvectormap-2.0.5.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/jquery.mCustomScrollbar.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/leaflet.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/line-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/MarkerCluster.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/MarkerCluster.Default.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/select2.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/slick.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/star-rating-svg.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/trumbowyg.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/wickedpicker.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/style.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <style>
    #amLineChart {
      width: 100%;
      height: 450px;
    }

    #amBarChart {
      width: 100%;
      height: 450px;
    }

    #amPieChart{
      width: 100%;
      height: 450px;
    }

    .context-menu {
      position: absolute;
    }
    .menu {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
      padding: 10px 0;
    }
    .menu > li > a {
      font: inherit;
      border: 0;
      padding: 10px 30px 10px 15px;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      text-decoration: unset;
      color: #616161;
      font-weight: normal;
      transition: 0.3s linear;
      -webkit-transition: 0.3s linear;
      -moz-transition: 0.3s linear;
      -ms-transition: 0.3s linear;
      -o-transition: 0.3s linear;
    }
    .menu > li > a:hover {
      background:#f1f3f7;
      color: #ff0000;
    }
    .menu > li > a > i {
      padding-right: 10px;
    }
    .menu > li.trash > a:hover {
      color: red;
    }


    </style>

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}">
</head>

<body class="layout-light top-menu overlayScroll">
    <div class="Branch STK-search"></div>

    <div class="Branch STK-author-actions"></div>
    <header class="header-top">
        {% include 'navbar.html' %}
    </header>
    <main class="main-content" id='main_fade'>

        <div class="contents">
            <div class="container-fluid"><br>

              <div class="row">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1" class="il-gray fs-14 fw-500 align-center">Group</label>
                      <select id='group_filter' name='group_filter'>
                        <option value='starter' id='group_filter_default'>Select All</option>
                        {% for g in group_labels %}
                        <option value='{{g}}'>{{g}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1" class="il-gray fs-14 fw-500 align-center">Branch</label>
                        <select id='branch_filter'>
                          <option value='starter' id='customer_filter_default'>Select All</option>
                          {% for g in branch_labels %}
                          <option value='{{g}}'>{{g}}</option>
                          {% endfor %}
                        </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1" class="il-gray fs-14 fw-500 align-center">Sales Rep</label>
                        <select id='salesrep_filter'>
                          <option value='starter' id='salesrep_filter_default'>Select All</option>
                          {% for g in salesrep_labels %}
                          <option value='{{g}}'>{{g}}</option>
                          {% endfor %}
                        </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1" class="il-gray fs-14 fw-500 align-center">Product</label>
                        <select id='product_filter'>
                          <option value='starter' id='product_filter_default'>Select All</option>
                          {% for g in product_labels %}
                          <option value='{{g}}'>{{g}}</option>
                          {% endfor %}
                        </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1" class="il-gray fs-14 fw-500 align-center">Month</label>
                        <select id='month_filter'>
                          <option value='starter' id='month_filter_default'>Select All</option>
                          {% for g in month_labels %}
                          <option value='{{g}}'>{{g}}</option>
                          {% endfor %}
                        </select>
                    </div>
                  </div>

                  <div class="col-md-1"></div>

                  <div class="col-md-1"><br>
                    <div class="action-btn">
                        <a href="javascript:clearAllandRefresh();" class="btn btn-sm btn-primary btn-add">
                            <i class="la la-plus"></i> Reset All</a>
                    </div>
                  </div>

              </div>


              <div class="row">


                  <div class="col-md-4" >
                    <div class="card border-0">
                      <div class="card-header">
                        <h6>Sales by Order Type</h6>
                        <div class="dropdown dropleft">
                            <a href="#" role="button" id="topPage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-feather="more-horizontal"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="topPage">
                                <a class="dropdown-item" href="javascript:exportBarChart();">Export</a>
                            </div>
                        </div>
                      </div>
                      <div id ='amBarChart'></div>
                    </div>
                  </div>


                  <div class="col-md-8">
                    <div class="card border-0">
                      <div class="card-header">
                        <h6>Trending - Sales</h6>
                        <div class="dropdown dropleft">
                            <a href="#" role="button" id="topPage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-feather="more-horizontal"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="topPage">
                                <a class="dropdown-item" href="javascript:exportLineChart();">Export</a>
                            </div>
                        </div>
                      </div>
                      <div id="amLineChart"></div>
                  </div>
                </div>

              </div>

              <br>
              <div class="row">

                <div class="col-md-4" >
                  <div class="card border-0">
                    <div class="card-header">
                      <h6>Sales by Product Group</h6>
                      <div class="dropdown dropleft">
                          <a href="#" role="button" id="topPage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span data-feather="more-horizontal"></span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="topPage">
                              <a class="dropdown-item" href="javascript:exportPieChart();">Export</a>
                          </div>
                      </div>
                    </div>
                    <div id ='amPieChart'></div>
                  </div>
                </div>

                <div class="col-xxl-8 mb-25">

                    <div class="card border-0">
                        <div class="card-header">
                            <h6>Detail</h6>
                            <div class="card-extra">
                                <div class="card-tab btn-group atbd-button-group mr-3 nav nav-tabs">
                                    <a class="btn btn-xs btn-white active border" id="f_today-tab" data-toggle="tab" href="#st_matrics-today" role="tab" area-controls="st_matrics" aria-selected="true">Month</a>
                                    <a class="btn btn-xs btn-white border" id="f_year-tab" data-toggle="tab" href="#st_matrics-year" role="tab" area-controls="st_matrics" aria-selected="false">Year</a>
                                </div>
                                <div class="dropdown dropleft">
                                    <a href="#" role="button" id="Today" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span data-feather="more-horizontal"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="Today">
                                        <a class="dropdown-item" href="javascript:exportTableToExcel();">Export</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="tab-content">
                                <div class="tab-pane fade active show">
                                    <div class="table-responsive" style='font-size: .8em !important; padding-left: 20px; padding-right: 20px;'>
                                        <table class="table table-bordered table-social" id ='main_data_table'>
                                            <thead>
                                                <tr style="text-align: center;">
                                                    <th>Group</th>
                                                    <th>Branch </th>
                                                    <th>Industry </th>
                                                    <th>Product </th>
                                                    <th>Sales Rep </th>
                                                    <th>Customer </th>
                                                    <th>Amount </th>
                                                </tr>
                                            </thead>
                                            <tbody id='main_tbody'>
                                                {% for m in main_data %}
                                                <tr>
                                                    <td>{{m.0}}</td>
                                                    <td>{{m.1}}</td>
                                                    <td>{{m.2}}</td>
                                                    <td>{{m.3}}</td>
                                                    <td>{{m.4}}</td>
                                                    <td>{{m.5}}</td>
                                                    <td>${{m.6|intcomma}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

              </div>

              <div class="row">


              </div>

              <div class="row"><br><br><br><br><br><br><div>

            </div>

        </div>


        <footer class="footer-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-copyright">
                            <p><a href="#">Created by Josh Floyd</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-menu text-right">
                            <ul>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <!-- ends: .Footer Menu -->
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <div id="contextMenu" class="context-menu" style="display: none">
        <ul class="menu" >
            <li class="share"><a href="javascript:userSaveBookmark();"><i class="fa fa-share" aria-hidden="true"></i> Save Bookmark</a></li>
            <li class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i> View Bookmarks</a></li>
            <li class="copy"><a href="#"><i class="fa fa-copy" aria-hidden="true"></i> Add Comment</a></li>
            <li class="paste"><a href="#"><i class="fa fa-paste" aria-hidden="true"></i> View Comments</a></li>
            <li class="download"><a href="#"><i class="fa fa-download" aria-hidden="true"></i> Screenshot</a></li>
        </ul>
    </div>

    <div id="overlayer">
        <span class="loader-overlay">
            <div class="atbd-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
    </div>


    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDduF2tLXicDEPDMAtC6-NLOekX0A5vlnY"></script>
    <!-- inject:js-->
    <script src="{% static 'assets/vendor_assets/js/jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/bootstrap/popper.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/moment/moment.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/accordion.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/autoComplete.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/charts.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/drawer.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/dynamicBadge.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/dynamicCheckbox.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/feather.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/footable.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/fullcalendar@5.2.0.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/google-chart.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery-jvectormap-2.0.5.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery.filterizr.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery.mCustomScrollbar.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery.peity.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery.star-rating-svg.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/leaflet.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/loader.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/message.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/moment.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/muuri.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/notification.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/popover.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/trumbowyg.base64.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/trumbowyg.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/wickedpicker.min.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/drag-drop.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/footable.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/full-calendar.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/googlemap-init.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/icon-loader.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/jvectormap-init.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/leaflet-init.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/main.js' %}"></script>


    <script type="text/javascript" src="{% static 'assets/d3site/d3.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/d3site/crossfilter.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/d3site/dc.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/d3site/axis.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/d3site/margin-mixin.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/d3site/cap-mixin.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/d3site/dc.datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/regression.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/rangeSelector.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/sunburst.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
     //Pie Chart Data
     var pieData1 =  [{
      name: "Furniture",
      children: [
        { name: "Desks", value: 100 },
        { name: "Chairs", value: 60 }
      ]
    },
    {
      name: "Outdoor Decor",
      children: [
        { name: "Patio", value: 135 },
        { name: "Garden", value: 98 }
      ]
    },
    {
      name: "Accessories",
      children: [
        {
          name: "Wall Mounts",
          children: [
            { name: "EE1", value: 130 },
            { name: "EE2", value: 87 },
            { name: "EE3", value: 55 }
          ]
        },
        { name: "Nails", value: 148 },
        {
          name: "Miscellaneous", children: [
            { name: "Adapters", value: 53 },
            { name: "Chords", value: 30 }
          ]
        },
        { name: "Adhesives", value: 26 }
      ]
    }];

    var pieData2 =  [{
     name: "Furniture",
     children: [
       { name: "Desks", value: 50 },
       { name: "Chairs", value: 20 }
     ]
   },
   {
     name: "Outdoor Decor",
     children: [
       { name: "Patio", value: 100 },
       { name: "Garden", value: 68 }
     ]
   },
   {
     name: "Accessories",
     children: [
       {
         name: "Wall Mounts",
         children: [
           { name: "EE1", value: 100 },
           { name: "EE2", value: 21 },
           { name: "EE3", value: 68 }
         ]
       },
       { name: "Nails", value: 148 },
       {
         name: "Miscellaneous", children: [
           { name: "Adapters", value: 21 },
           { name: "Chords", value: 45 }
         ]
       },
       { name: "Adhesives", value: 35 }
     ]
   }];

   var pieData3 =  [{
    name: "Furniture",
    children: [
      { name: "Desks", value: 45 },
      { name: "Chairs", value: 57 }
    ]
  },
  {
    name: "Outdoor Decor",
    children: [
      { name: "Patio", value: 12 },
      { name: "Garden", value: 22 }
    ]
  },
  {
    name: "Accessories",
    children: [
      {
        name: "Wall Mounts",
        children: [
          { name: "EE1", value: 24 },
          { name: "EE2", value: 24 },
          { name: "EE3", value: 20 }
        ]
      },
      { name: "Nails", value: 188 },
      {
        name: "Miscellaneous", children: [
          { name: "Adapters", value: 51 },
          { name: "Chords", value: 55 }
        ]
      },
      { name: "Adhesives", value: 54 }
    ]
  }];


</script>

<script type="text/javascript">

    //Line Chart Data
    var xlabels = {{date_labels|safe}};
    var xdata = {{date_values|safe}};

    var amLineData = {{amchartData|safe}};

    //Bar Chart Data
    var clabels = {{clabels|safe}};
    var cdata = {{cdata|safe}};

    //Table Data
    var table_data = {{main_data|safe}};

    //Selectors
    var group_select = ['starter'];
    var branch_select = ['starter'];
    var salesrep_select = ['starter'];
    var product_select = ['starter'];
    var month_select = ['starter'];
    var industry_select = ['starter'];

    //Labels
    var group_labels = {{group_labels|safe}};
    var branch_labels = {{branch_labels|safe}};
    var salesrep_labels = {{salesrep_labels|safe}};
    var product_labels = {{product_labels|safe}};
    var month_labels = {{month_labels|safe}};

    //Data
    var responseData = null;

    //Charts
    var amLineChart = null;
    var amBarChart = null;
    var amPieChart = null;

    var pieCounter = 1;

    function clearAllSelections(){
      $('#group_filter').val('starter');
      $('#group_filter').trigger('change');
      $('#branch_filter').val('starter');
      $('#branch_filter').trigger('change');
      $('#salesrep_filter').val('starter');
      $('#salesrep_filter').trigger('change');
      $('#month_filter').val('starter');
      $('#month_filter').trigger('change');
      industry_select = ['starter'];
    };

    function clearAllandRefresh(){
      $('#group_filter').val('starter');
      $('#group_filter').trigger('change');
      $('#branch_filter').val('starter');
      $('#branch_filter').trigger('change');
      $('#salesrep_filter').val('starter');
      $('#salesrep_filter').trigger('change');
      $('#month_filter').val('starter');
      $('#month_filter').trigger('change');
      $('#product_filter').val('starter');
      $('#product_filter').trigger('change');
      industry_select = ['starter'];

      updateDataAll();
      redrawCanvas();
      rebuildCharts();
      updateLabels();
      updateFilters2();
    };


    function redrawCanvas (){
      $('#chart1').remove(); // this is my <canvas> element
      $('#maink1').append('<canvas id="chart1"></canvas>');
  };

  function generateChartData() {
      var chartData = [];
      var firstDate = new Date();
      firstDate.setDate(firstDate.getDate() - 1000);
      var visits = 1200;
      for (var i = 0; i < 500; i++) {
          // we create date objects here. In your data, you can have date strings
          // and then set format of your dates using chart.dataDateFormat property,
          // however when possible, use date objects, as this will speed up chart rendering.
          var newDate = new Date(firstDate);
          newDate.setDate(newDate.getDate() + i);

          visits += Math.round((Math.random()<0.5?1:-1)*Math.random()*10);

          chartData.push({
              date: newDate,
              visits: visits
          });
      }
      return chartData;
  }

  function getPieData(){
      if (pieCounter == 1){
        pieCounter = pieCounter + 1;
        return pieData1;
      } else if (pieCounter == 2){
        pieCounter = pieCounter + 1;
        return pieData2;
      } else {
        pieCounter = 1;
        return pieData3;
      }
  }


  function dataReplace(){
    $('#main_data_table').dataTable().fnClearTable();
    if (table_data.length == 0){
    } else {
    $('#main_data_table').dataTable().fnAddData(table_data);
   }
  }

  function rebuildCharts(){
    //drawChart2(clabels,cdata);
    dataReplace();
  };

  function updateLabels(){
  };

  function updateFilters2(){
  };

  function updateDataAll(){

    $.ajax({
        url: '{% url "gather_data" %}',
        data: {

          //Filters
          'group_select': group_select,
          'branch_select': branch_select,
          'salesrep_select':salesrep_select,
          'product_select':product_select,
          'month_select':month_select,

          //Chart Options
          'industry_select': industry_select
        },

        dataType: 'json',
          success: function (data) {
              if (data.is_taken) {

                  //linechart
                  xlabels = data.date_labels
                  xdata = data.date_values

                  //barchart
                  clabels = data.clabels
                  cdata = data.cdata

                  table_data = data.main_data

                  //select labels
                  responseData = data

                  redrawCanvas();
                  rebuildCharts();
                  updateLabels();
                  updateFilters2();
                  amLineChart.data = generateChartData();
                  amBarChart.data = data.amBarChartData;
                  amPieChart.data = getPieData();
                  //amLineChart.data = data.amChartData;
              }
          }
    });
};


$(document).ready(function(){
  // Initialize select2
  $("#group_filter").select2();
  $("#branch_filter").select2();
  $("#salesrep_filter").select2();
  $("#product_filter").select2();
  $("#month_filter").select2();
});


//Listeners
$("#group_filter").change(function () {
  group_select = $("#group_filter").val();
  updateDataAll();
});

$("#branch_filter").change(function () {
  branch_select = $("#branch_filter").val();
  updateDataAll();
});


$("#salesrep_filter").change(function () {
  salesrep_select = $("#salesrep_filter").val();
  updateDataAll();
});

$("#product_filter").change(function () {
  product_select = $("#product_filter").val();
  updateDataAll();
});

$("#month_filter").change(function () {
  month_select = $("#month_filter").val();
  updateDataAll();
});


  //amLineChart
  am4core.ready(function() {
  am4core.useTheme(am4themes_animated);
  var chart = am4core.create("amLineChart", am4charts.XYChart);
  chart.data = generateChartData();
  var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
  dateAxis.renderer.minGridDistance = 50;
  var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
  var series = chart.series.push(new am4charts.LineSeries());
  series.dataFields.valueY = "visits";
  series.dataFields.dateX = "date";
  series.strokeWidth = 2;
  series.stroke
  series.minBulletDistance = 10;
  series.tooltipText = "{valueY}";
  series.tooltip.pointerOrientation = "vertical";
  series.tooltip.background.cornerRadius = 20;
  series.tooltip.background.fillOpacity = 0.5;
  series.tooltip.getFillFromObject = false;
  series.tooltip.background.fill = am4core.color("#ff0000");
  series.tooltip.label.padding(12,12,12,12)
  //series.tensionX = .8;
  //series.tensionY = 1;
  series.stroke = am4core.color("#fa0000");
  chart.scrollbarX = new am4charts.XYChartScrollbar();
  chart.scrollbarX.series.push(series);
  chart.cursor = new am4charts.XYCursor();
  chart.cursor.xAxis = dateAxis;
  chart.cursor.snapToSeries = series;
  chart.exporting.filePrefix = "lineChart";
  amLineChart = chart;
  });

  //amBarChart
  am4core.ready(function() {
  am4core.useTheme(am4themes_animated);
  var chart = am4core.create("amBarChart", am4charts.XYChart);
  chart.colors.list = [
  am4core.color("#fc0303"),
  am4core.color("#4a4949"),
  am4core.color("#949494"),
  am4core.color("#cfcfcf"),
  ];
  //chart.scrollbarX = new am4core.Scrollbar();
  chart.data = {{amBarChartData|safe}};
  var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
  categoryAxis.dataFields.category = "industry";
  categoryAxis.renderer.grid.template.location = 0;
  categoryAxis.renderer.minGridDistance = 30;
  categoryAxis.renderer.labels.template.horizontalCenter = "right";
  categoryAxis.renderer.labels.template.verticalCenter = "middle";
  categoryAxis.renderer.labels.template.rotation = 270;
  categoryAxis.tooltip.disabled = true;
  categoryAxis.renderer.minHeight = 110;
  categoryAxis.fontSize = '14'
  var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
  valueAxis.renderer.minWidth = 50;
  var series = chart.series.push(new am4charts.ColumnSeries());
  series.sequencedInterpolation = true;
  series.dataFields.valueY = "visits";
  series.dataFields.categoryX = "industry";
  series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
  series.columns.template.strokeWidth = 0;
  series.tooltip.pointerOrientation = "vertical";
  series.columns.template.column.cornerRadiusTopLeft = 10;
  series.columns.template.column.cornerRadiusTopRight = 10;
  series.columns.template.column.fillOpacity = 0.8;
  categoryAxis.sortBySeries = series;
  var hoverState = series.columns.template.column.states.create("hover");
  hoverState.properties.cornerRadiusTopLeft = 0;
  hoverState.properties.cornerRadiusTopRight = 0;
  hoverState.properties.fillOpacity = 1;
  series.columns.template.adapter.add("fill", function(fill, target) {
  return chart.colors.getIndex(target.dataItem.index);
  });
  chart.cursor = new am4charts.XYCursor();
  chart.exporting.filePrefix = "barChart";
  amBarChart = chart;
  });


  //amPieChart
  am4core.ready(function() {
  am4core.useTheme(am4themes_animated);
  var chart = am4core.create("amPieChart", am4plugins_sunburst.Sunburst);
  chart.padding(0, 0, 0, 0);
  chart.radius = am4core.percent(98);
  chart.data = pieData1;
  chart.colors.list = [
  am4core.color("#8c8989"),
  am4core.color("#4a4949"),
  am4core.color("#fc0303"),
  ];
  chart.fontSize = 11;
  chart.innerRadius = am4core.percent(40);
  chart.dataFields.value = "value";
  chart.dataFields.name = "name";
  chart.dataFields.children = "children";
  var level0SeriesTemplate = new am4plugins_sunburst.SunburstSeries();
  chart.seriesTemplates.setKey("0", level0SeriesTemplate)
  level0SeriesTemplate.labels.template.truncate = true;
  level0SeriesTemplate.labels.template.hideOversized = true;
  level0SeriesTemplate.showOnInit = false;
  level0SeriesTemplate.usePercentHack = false;
  level0SeriesTemplate.radius = am4core.percent(100);
  level0SeriesTemplate.innerRadius = am4core.percent(0);
  let selectedState = level0SeriesTemplate.states.create("selected");
  selectedState.properties.opacity = 0.7;
  level0SeriesTemplate.defaultState.properties.radius = am4core.percent(100);
  var currentlySelected;
  level0SeriesTemplate.slices.template.events.on("over", function(event) {
    if(event.target.dataItem.sunburstDataItem.children){
     event.target.cursorOverStyle = am4core.MouseCursorStyle.pointer;
    }
  })
  level0SeriesTemplate.slices.template.events.on("hit", function(event) {
    zoomOutButton.show();
    var hitSlice = event.target;
    if (hitSlice.dataItem.sunburstDataItem.children) {
      var series = event.target.dataItem.component;
      if (!series.dummyData) {
        series.tooltip.disabled = true;
        hitSlice.dataItem.label.radius = (hitSlice.radius - hitSlice.pixelInnerRadius) - 7;
        hitSlice.dataItem.label.bent = true;
        hitSlice.dataItem.label.rotation = -180;

        currentlySelected = hitSlice;
        series.dummyData = true;
        series.setState("selected");
        hitSlice.dataItem.sunburstDataItem.series.show();
        series.slices.each(function(slice) {
          if (slice != event.target) {
            slice.dataItem.hide();
          }
        })
      }
      else {
        drillUp(hitSlice);
      }
    }
  })
  level0SeriesTemplate.labels.template.adapter.add("rotation", function(rotation, target) {
    target.maxWidth = target.dataItem.slice.radius - target.dataItem.slice.innerRadius - 10;
    target.maxHeight = Math.abs(target.dataItem.slice.arc * (target.dataItem.slice.innerRadius + target.dataItem.slice.radius) / 2 * am4core.math.RADIANS);
    return rotation;
  })
  var level1SeriesTemplate = level0SeriesTemplate.clone();
  level1SeriesTemplate.hidden = true;
  level1SeriesTemplate.innerRadius = am4core.percent(10);
  chart.seriesTemplates.setKey("1", level1SeriesTemplate)
  level1SeriesTemplate.fillOpacity = 0.75;
  var level2SeriesTemplate = level0SeriesTemplate.clone();
  level2SeriesTemplate.hidden = true;
  level2SeriesTemplate.innerRadius = am4core.percent(20);
  chart.seriesTemplates.setKey("2", level2SeriesTemplate)
  var zoomOutButton = chart.seriesContainer.createChild(am4core.ZoomOutButton);
  zoomOutButton.visible = false;
  zoomOutButton.horizontalCenter = "middle";
  zoomOutButton.verticalCenter = "middle";
  zoomOutButton.events.on("hit", function() {
    drillUp(currentlySelected)
  })
  function drillUp(slice) {
    collapse(slice);
    var series = slice.dataItem.component;
    series.tooltip.disabled = false;
    series.dummyData = false;
    series.setState("default");

    series.slices.each(function(slice) {
      if (slice != event.target) {
        slice.dataItem.show();
      }
    })
    if (series.parentDataItem.seriesDataItem) {
      currentlySelected = series.parentDataItem.seriesDataItem.slice;
    }
    else {
      zoomOutButton.hide();
    }
  }
  function collapse(slice) {
    slice.dataItem.label.bent = false;
    slice.dataItem.label.radius = 10;
    if (slice.dataItem.sunburstDataItem.children) {
      slice.dataItem.sunburstDataItem.children.each(function(child) {
        child.seriesDataItem.component.setState("hidden");
        collapse(child.seriesDataItem.slice);
      })
    }
  }
  chart.exporting.filePrefix = "pieChart";
  amPieChart = chart;
  });


</script>


<script>

  $(document).ready(function () {
      $('#main_data_table').DataTable();
  });

  function exportTableToExcel(){
      filename = 'dataexport'
      var downloadLink;
      var dataType = 'application/vnd.ms-excel';
      var tableSelect = document.getElementById('main_data_table');
      var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
      filename = filename?filename+'.xls':'excel_data.xlsx';
      downloadLink = document.createElement("a");
      document.body.appendChild(downloadLink);
      if(navigator.msSaveOrOpenBlob){
          var blob = new Blob(['\ufeff', tableHTML], {
              type: dataType
          });
          navigator.msSaveOrOpenBlob( blob, filename);
      }else{
          downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
          downloadLink.download = filename;
          downloadLink.click();
      }
  }

  function exportLineChart(){
    amLineChart.exporting.export("xlsx");
  };

  function exportPieChart(){
    amPieChart.exporting.export("xlsx");
  };

  function exportBarChart(){
    amBarChart.exporting.export("xlsx");
  };

</script>



<script>

  //Context Menu
   document.onclick = hideMenu;
   document.oncontextmenu = rightClick;

    function hideMenu() {
        document.getElementById("contextMenu").style.display = "none"
        $("#main_fade").fadeTo("fast", 1);
    }

    function rightClick(e) {
    $("#main_fade").fadeTo("slow", 0.4);


        e.preventDefault();

        if (document.getElementById("contextMenu") .style.display == "block"){
            hideMenu();

        }else{
            var menu = document.getElementById("contextMenu")
            menu.style.display = 'block';
            menu.style.left = e.pageX + "px";
            menu.style.top = e.pageY + "px";
        }

  }

function slugify(text)
{
  return text.toString()
    .replace(/\s+/g, '-')
    .replace(/[^\w\-]+/g, '')
    .replace(/\-\-+/g, '-')
    .replace(/^-+/, '')
    .replace(/-+$/, '');
};

function userSaveBookmark(){
  console.log('Called');
  $.ajax({
      url: '{% url "save_bookmark" %}',
      data: {

        //Filters
        'group_select': group_select,
        'branch_select': branch_select,
        'salesrep_select':salesrep_select,
        'product_select':product_select,
        'month_select':month_select,
        'page': 'bi',

        //Chart Options
        'industry_select': industry_select
      },

      dataType: 'json',
        success: function (data) {
            if (data.success == 1) {
              Swal.fire({
                icon: 'success',
                title: 'Saved',
                text: 'Bookmark Saved Successfully',
                confirmButtonColor: '#00c247',
              });
            } else {
              Swal.fire({
                icon: 'danger',
                title: 'Failed',
                text: 'Bookmark Save Failed',
                confirmButtonColor: '#db291d',
              });
            }
        }
  })
};


var all_pre_filters = null;


$(document).ready(function() {
    //PreFilters
    var pre_filters = {{pre_filter|safe}};
    all_pre_filters = pre_filters;

    var has_prefilters = pre_filters[0].has_prefilters;

    if (has_prefilters == 1){

      var pre_group_select = pre_filters[1].group_select;
      var pre_branch_select = pre_filters[2].branch_select;
      var pre_salesrep_select = pre_filters[3].salesrep_select;
      var pre_product_select = pre_filters[4].product_select;
      var pre_month_select = pre_filters[5].month_select;
      var pre_industry_select = pre_filters[6].industry_select;

      group_select = pre_group_select;
      branch_select = pre_branch_select;
      salesrep_select = pre_salesrep_select;
      product_select = pre_product_select;
      month_select = pre_month_select;
      industry_select = pre_industry_select;
      updateDataAll();
      console.log('Has Pre Filters');
    };

});



</script>




</body>

</html>
