<!doctype html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Location Analytics</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- inject:css-->

	  <link rel="stylesheet" type="text/css" href="{% static 'assets/d3site/dc.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/bootstrap/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/daterangepicker.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/fontawesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/footable.standalone.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/fullcalendar@5.2.0.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/jquery-jvectormap-2.0.5.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/jquery.mCustomScrollbar.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/leaflet.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/line-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/MarkerCluster.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/MarkerCluster.Default.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/select2.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/slick.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/star-rating-svg.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/trumbowyg.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor_assets/css/wickedpicker.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/style.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <style>
        div.dc-chart {
            float: left;
        }
        #monthly-volume-chart g.y {
            display: none;
        }
        #logo {
            margin-right: 2em;
            margin-top: 2em;
        }
    </style>



    <!-- endinject -->

    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
</head>

<body class="layout-light top-menu overlayScroll">
    <div class="Branch STK-search"></div>

    <div class="Branch STK-author-actions"></div>
    <header class="header-top">
        {% include 'navbar.html' %}
    </header>
    <main class="main-content">

        <div class="contents">
            <div class="container-fluid"><br>
              <div class="row">

              <div class="col-lg-12">
                      <div class="atbd-collapse atbd-collapse-custom" style="background-color: white;">
                          <div class="atbd-collapse-item" style="background-color: white;">
                              <div class="atbd-collapse-item__header active">
                                  <a href="#" class="item-link" data-toggle="collapse" data-target="#collapse-body-c-1" aria-expanded="true" aria-controls="collapse-body-c-1" style="background-color: white;">
                                      <i class="la la-angle-right"></i>
                                      <img src = "img/filter.png" style="width: 15px; height:15px;"></img><h6>Filters</h6>
                                  </a>
                              </div>



                              <div id="collapse-body-c-1" class="collapse atbd-collapse-item__body hide">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card card-default card-md mb-4">
                                            <div class="card-body py-md-25">
                                                <form action="#">
                                                    <div class="row">

                                                        <div class="col-md-4">



                                                          <div class="form-group" id = 'select1'>
                                                              <label for="exampleFormControlSelect1" class="il-gray fs-14 fw-500 align-center">Group</label>
                                                              <select class="form-control px-15" >
                                                                  <option>1</option>
                                                              </select>
                                                          </div>



                                                        </div>

                                                        <div class="col-md-4">



                                                          <div class="form-group" id = 'select2'>
                                                              <label for="exampleFormControlSelect1" class="il-gray fs-14 fw-500 align-center">Month</label>
                                                              <select class="form-control px-15" >
                                                                  <option>1</option>
                                                              </select>
                                                          </div>


                                                            </div>




                                                        <div class="col-md-4">



                                                          <div class="form-group" id = 'select3'>
                                                              <label for="exampleFormControlSelect1" class="il-gray fs-14 fw-500 align-center">Product Groups</label>
                                                              <select class="form-control px-15">
                                                                  <option>1</option>
                                                              </select>
                                                          </div>


                                                        </div>



                                                        </div>

                                                        <div class="row">

                                                          <div class="col-md-3">

                                                            <div class="form-group" id = 'select4' >
                                                                <label for="exampleFormControlSelect1" class="il-gray fs-14 fw-500 align-center">Example
                                                                    Select</label>
                                                                <select class="form-control px-15" multiple>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                </select>
                                                            </div>


                                                          </div>

                                                          <div class="col-md-3">

                                                            <div class="form-group"  id = 'select5' >
                                                                <label for="exampleFormControlSelect1" class="il-gray fs-14 fw-500 align-center">Example
                                                                    Select</label>
                                                                <select class="form-control px-15" multiple>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                </select>
                                                            </div>


                                                          </div>
                                                          <div class="col-md-3">

                                                            <div class="form-group"  id = 'select6' >
                                                                <label for="exampleFormControlSelect1" class="il-gray fs-14 fw-500 align-center">Example
                                                                    Select</label>
                                                                <select class="form-control px-15" multiple>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                </select>
                                                            </div>


                                                          </div>

                                                          <div class="col-md-3">

                                                            <div class="form-group" id = 'select7' >
                                                                <label for="exampleFormControlSelect1" class="il-gray fs-14 fw-500 align-center">Example
                                                                    Select</label>
                                                                <select class="form-control px-15" multiple>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                </select>
                                                            </div>


                                                          </div>




                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- ends: .card -->
                                    </div>

                              </div>
                          </div>
                      </div>
              </div>

            </div>
            <br>


            <div class="row">

              <div class="col-lg-12">
                  <div class="breadcrumb-main">
                      <h4 class="text-capitalize breadcrumb-title">Sales Dashboard</h4>
                      <div class="breadcrumb-action justify-content-center flex-wrap">
                          <div class="action-btn">
                              <a href="javascript:reloadPage();" class="btn btn-sm btn-primary btn-add">
                                  <i class="la la-plus"></i> Reset All</a>
                          </div>
                      </div>
                  </div>

              </div>


              <div class="col-xxl-3 col-md-6 mb-25">
                  <div class="card border-0">
                      <div class="card-header">
                          <h6>Industry</h6><a class="reset" href="javascript:industryChart.filterAll();dc.redrawAll();" style='font-size:.8em;'>Reset</a>
                        </div>
                      <div class="card-body linechart-overview-wrap">
                          <div class="tab-content">
                              <div id="industryCanvas"></div>
                          </div>
                      </div>
                      <!-- ends: .card-body -->
                  </div>
              </div>


              <div class="col-xxl-6 col-md-6 mb-25">
                  <div class="card border-0">
                      <div class="card-header">
                          <h6>Date</h6><a class="reset" href="javascript:monthChart.filterAll();dc.redrawAll();" style='font-size:.8em; '>Reset</a>
                        </div>
                      <div class="card-body linechart-overview-wrap">
                          <div class="tab-content">
                            <div id="monthCanvas"></div>
                          </div>
                      </div>
                      <!-- ends: .card-body -->
                  </div>
              </div>

              <div class="col-xxl-3 col-md-2 mb-25">
                  <div class="card border-0">
                      <div class="card-header">
                          <h6>Product Groups</h6><a class="reset" href="javascript:productChart.filterAll();dc.redrawAll();" style='font-size:.8em;'>Reset</a>
                      </div>
                      <div class="card-body linechart-overview-wrap">
                          <div class="tab-content">

                                <div id="productsCanvas"></div>

                          </div>

                      </div>
                  </div>
              </div>

           </div>

           <div class="row">

             <div class="col-xxl-3 col-md-6 mb-25">
                 <div class="card border-0">
                     <div class="card-header">
                         <h6>Top Customers</h6><a class="reset" href="javascript:industryChart.filterAll();dc.redrawAll();" style='font-size:.8em;'>Reset</a>
                       </div>
                     <div class="card-body linechart-overview-wrap">
                         <div class="tab-content">
                             <div id="customerCanvas"></div>
                         </div>
                     </div>
                     <!-- ends: .card-body -->
                 </div>
             </div>


             <div class="col-xxl-6 col-md-6 mb-25">
                 <div class="card border-0">
                     <div class="card-header">
                         <h6>Month</h6><a class="reset" href="javascript:mainTable.filterAll();dc.redrawAll();" style='font-size:.8em; '>Reset</a>
                       </div>
                     <div class="card-body linechart-overview-wrap">
                         <div class="tab-content">
                           <div id="">
                              <table class="table table-hover dc-data-table"></table>
                           </div>
                         </div>
                     </div>
                     <!-- ends: .card-body -->
                 </div>
             </div>

             <div class="col-xxl-3 col-md-2 mb-25">
                 <div class="card border-0">
                     <div class="card-header">
                         <h6>Sourcing</h6><a class="reset" href="javascript:pieChart.filterAll();dc.redrawAll();" style='font-size:.8em;'>Reset</a>
                     </div>
                     <div class="card-body linechart-overview-wrap">
                         <div class="tab-content">

                               <div id="pieCanvas"></div>

                         </div>

                     </div>
                 </div>
             </div>

          </div>


          </div>

        </div>


        <footer class="footer-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-copyright">
                            <p><a href="#">Notion Inc</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-menu text-right">
                            <ul>
                                <li>
                                    <a href="#">inNotion</a>
                                </li>
                                <li>
                                    <a href="#">eERP</a>
                                </li>
                            </ul>
                        </div>
                        <!-- ends: .Footer Menu -->
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <div id="overlayer">
        <span class="loader-overlay">
            <div class="atbd-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
    </div>


    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDduF2tLXicDEPDMAtC6-NLOekX0A5vlnY"></script>
    <!-- inject:js-->
    <script src="{% static 'assets/vendor_assets/js/jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/bootstrap/popper.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/moment/moment.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/accordion.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/autoComplete.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/charts.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/drawer.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/dynamicBadge.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/dynamicCheckbox.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/feather.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/footable.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/fullcalendar@5.2.0.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/google-chart.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery-jvectormap-2.0.5.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery.filterizr.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery.mCustomScrollbar.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery.peity.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/jquery.star-rating-svg.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/leaflet.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/loader.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/message.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/moment.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/muuri.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/notification.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/popover.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/trumbowyg.base64.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/trumbowyg.min.js' %}"></script>
    <script src="{% static 'assets/vendor_assets/js/wickedpicker.min.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/drag-drop.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/footable.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/full-calendar.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/googlemap-init.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/icon-loader.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/jvectormap-init.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/leaflet-init.js' %}"></script>
    <script src="{% static 'assets/theme_assets/js/main.js' %}"></script>


    <script type="text/javascript" src="{% static 'assets/d3site/d3.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/d3site/crossfilter.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/d3site/dc.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/d3site/axis.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/d3site/margin-mixin.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/d3site/cap-mixin.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/d3site/dc.datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


    <script type="text/javascript">
    function replaceClass(){

            console.log('Replace Class')

            var el = document.querySelectorAll(".dc-select-menu");
            var elemCount = el.length;

            for (var i = 0; i < elemCount; i++) {
              el[i].className = 'form-control px-15'
            }

            var el = document.querySelectorAll(".dc-chart");
            var elemCount = el.length;

            for (var i = 0; i < elemCount; i++) {
              el[i].className = 'form-group'
            }

            var el = document.querySelectorAll(".dc-data-table");
            var elemCount = el.length;

            for (var i = 0; i < elemCount; i++) {
              el[i].className = 'table table-bordered table-social'
            }


            document.getElementById("industryCanvas").className = "dc-chart";
            document.getElementById("monthCanvas").className = "dc-chart";
            document.getElementById("productsCanvas").className = "dc-chart";
            document.getElementById("pieCanvas").className = "dc-chart";
            document.getElementById("customerCanvas").className = "dc-chart";

    };

    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33628816-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script type="text/javascript">

    'use strict';

    //# dc.js Getting Started and How-To Guide
    'use strict';



   var data = [

     {'DATE': '01/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Drinks', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'PO', 'AMT': '149 '},
     {'DATE': '01/01/2021', 'INDUSTRY': 'Steel Products', 'PRODUCT': 'Drinks', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'PO', 'AMT': '955 '},
     {'DATE': '02/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'DS', 'AMT': '769 '},
     {'DATE': '02/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'PO', 'AMT': '53 '},
     {'DATE': '02/01/2021', 'INDUSTRY': 'Miscellaneous', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'DS', 'AMT': '744 '},
     {'DATE': '02/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'PO', 'AMT': '456 '},
     {'DATE': '01/01/2021', 'INDUSTRY': 'Steel Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'DS', 'AMT': '628 '},
     {'DATE': '03/01/2021', 'INDUSTRY': 'Gas & Oil', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'PO', 'AMT': '834 '},
     {'DATE': '03/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'DS', 'AMT': '239 '},
     {'DATE': '04/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Drinks', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'PO', 'AMT': '754 '},
     {'DATE': '04/01/2021', 'INDUSTRY': 'Miscellaneous', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'PO', 'AMT': '227 '},
     {'DATE': '05/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'DS', 'AMT': '388 '},
     {'DATE': '06/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'PO', 'AMT': '790 '},
     {'DATE': '07/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Bobs Oil Inc', 'SOURCE': 'PO', 'AMT': '366 '},
     {'DATE': '01/01/2021', 'INDUSTRY': 'Steel Products', 'PRODUCT': 'Drinks', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'PO', 'AMT': '939 '},
     {'DATE': '01/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Drinks', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'PO', 'AMT': '14 '},
     {'DATE': '02/01/2021', 'INDUSTRY': 'Gas & Oil', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'DS', 'AMT': '485 '},
     {'DATE': '02/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'PO', 'AMT': '842 '},
     {'DATE': '02/01/2021', 'INDUSTRY': 'Miscellaneous', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'DS', 'AMT': '760 '},
     {'DATE': '02/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'PO', 'AMT': '303 '},
     {'DATE': '01/01/2021', 'INDUSTRY': 'Steel Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'DS', 'AMT': '220 '},
     {'DATE': '03/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'PO', 'AMT': '160 '},
     {'DATE': '03/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'DS', 'AMT': '125 '},
     {'DATE': '04/01/2021', 'INDUSTRY': 'Miscellaneous', 'PRODUCT': 'Drinks', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'PO', 'AMT': '439 '},
     {'DATE': '04/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'PO', 'AMT': '142 '},
     {'DATE': '05/01/2021', 'INDUSTRY': 'Gas & Oil', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'DS', 'AMT': '672 '},
     {'DATE': '06/01/2021', 'INDUSTRY': 'Steel Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'PO', 'AMT': '18 '},
     {'DATE': '07/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Daves Gears', 'SOURCE': 'PO', 'AMT': '929 '},
     {'DATE': '01/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Drinks', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'PO', 'AMT': '345 '},
     {'DATE': '01/01/2021', 'INDUSTRY': 'Miscellaneous', 'PRODUCT': 'Drinks', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'PO', 'AMT': '467 '},
     {'DATE': '02/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'DS', 'AMT': '779 '},
     {'DATE': '02/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'PO', 'AMT': '314 '},
     {'DATE': '02/01/2021', 'INDUSTRY': 'Steel Products', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'DS', 'AMT': '488 '},
     {'DATE': '02/01/2021', 'INDUSTRY': 'Miscellaneous', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'PO', 'AMT': '189 '},
     {'DATE': '01/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'DS', 'AMT': '641 '},
     {'DATE': '03/01/2021', 'INDUSTRY': 'Gas & Oil', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'PO', 'AMT': '820 '},
     {'DATE': '03/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'DS', 'AMT': '779 '},
     {'DATE': '04/01/2021', 'INDUSTRY': 'Steel Products', 'PRODUCT': 'Drinks', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'PO', 'AMT': '749 '},
     {'DATE': '04/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'PO', 'AMT': '799 '},
     {'DATE': '05/01/2021', 'INDUSTRY': 'Miscellaneous', 'PRODUCT': 'Snacks', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'DS', 'AMT': '566 '},
     {'DATE': '06/01/2021', 'INDUSTRY': 'Food Products', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'PO', 'AMT': '760 '},
     {'DATE': '07/01/2021', 'INDUSTRY': 'Gas & Oil', 'PRODUCT': 'Televisions', 'CUSTOMER': 'Johnson Cars', 'SOURCE': 'PO', 'AMT': '389 '},




    ];



      function remove_empty_bins(source_group) {
          return {
              all:function () {
                  return source_group.all().filter(function(d) {
                      return d.value != 0;
                  });
              }
          };
      }

        const ndx = crossfilter(data);
        const all = ndx.groupAll();

        var indDim = ndx.dimension(function (d) {return d["INDUSTRY"]; })
        var indDim2 = ndx.dimension(function (d) {return d["INDUSTRY"]; })
        var indDim3 = ndx.dimension(function (d) {return d["INDUSTRY"]; })
        var indDim4 = ndx.dimension(function (d) {return d["INDUSTRY"]; })

        var sourceDim = ndx.dimension(function (d) {return d["SOURCE"]; })
        var sourceGroup = sourceDim.group().reduceSum(d => d.AMT);


        var custDim = ndx.dimension(function (d) {return d["CUSTOMER"]; })
        var custDim2 = ndx.dimension(function (d) {return d["CUSTOMER"]; })

        var custGroup = custDim.group().reduceSum(d => d.AMT);
        var custGroup2 = custDim2.group().reduceSum(d => d.AMT);

        var monthDim = ndx.dimension(function (d) {return d["DATE"]; })
        var monthDim2 = ndx.dimension(function (d) {return d["DATE"]; })
        var monthDim3 = ndx.dimension(function (d) {return d["DATE"]; })
        var monthDim4 = ndx.dimension(function (d) {return d["DATE"]; })

        var prodDim = ndx.dimension(function (d) {return d["PRODUCT"]; })
        var prodDim2 = ndx.dimension(function (d) {return d["PRODUCT"]; })
        var prodDim3 = ndx.dimension(function (d) {return d["PRODUCT"]; })
        var prodDim4 = ndx.dimension(function (d) {return d["PRODUCT"]; })

        var indGroup = indDim.group().reduceSum(d => d.AMT);
        var monthGroup = monthDim.group().reduceSum(d => d.AMT);
        var monthGroupM = monthDim.group().reduceSum(d => d.AMT);
        var indGroupM = indDim.group().reduceSum(d => d.AMT);

        var prodGroup = prodDim.group().reduceSum(d => d.AMT);
        var prodGroup2 = prodDim4.group().reduceSum(d => d.AMT);

        var selectChart = dc.selectMenu('#select1')
        var selectChart2 = dc.selectMenu('#select2')
        var selectChart3 = dc.selectMenu('#select3')
        var selectChart4 = dc.selectMenu('#select4')
        var selectChart5 = dc.selectMenu('#select5')
        var selectChart6 = dc.selectMenu('#select6')
        var selectChart7 = dc.selectMenu('#select7')

        var mainTable = dc_datatables.datatable('.dc-data-table');


        var monthChart = new dc.BarChart("#monthCanvas");
        var industryChart = dc.rowChart("#industryCanvas");
        var productChart = dc.rowChart("#productsCanvas");
        var pieChart = new dc.PieChart("#pieCanvas");
        var customerChart = dc.rowChart("#customerCanvas");

        var minDate = '01/01/2021'
        var maxDate = '07/01/2021'


        monthChart

          .dimension(monthDim)
          .group(monthGroupM)
          .barPadding(0.1)
          .outerPadding(0.05)
          .margins({top: 0, right: 10, bottom: 25, left: 35})
          .x(d3.scaleBand())
          .xUnits(dc.units.ordinal)
          .colorAccessor(d => d.key)
          .width(850)
          .height(250)
          .colors(['#bd3131'])
          .elasticX(true)
          .elasticY(true)

        industryChart
          .dimension(indDim)
          .group(indGroupM)
          .width(400)
          .height(250)
          .ordinalColors(['#bd3131', '#6b6b6b'])
          .margins({top: 0, right: 10, bottom: 25, left: 10})
          .elasticX(true)

        customerChart
          .dimension(custDim2)
          .group(custGroup2)
          .width(400)
          .height(250)
          .ordinalColors(['#bd3131', '#6b6b6b'])
          .margins({top: 0, right: 10, bottom: 25, left: 10})
          .elasticX(true)

        productChart
          .dimension(prodDim)
          .group(prodGroup)
          .width(400)
          .height(250)
          .ordinalColors(['#bd3131', '#6b6b6b'])
          .margins({top: 0, right: 10, bottom: 25, left: 10})
          .elasticX(true)

        selectChart
          .dimension(indDim2)
          .group(indDim2.group())
          .controlsUseVisibility(true)
          .promptText('Select All')
          .multiple(false)
          .numberVisible(false);

        selectChart4
          .dimension(indDim3)
          .group(indDim3.group())
          .controlsUseVisibility(false)
          .promptText('Select All')
          .multiple(true)
          .numberVisible(6);

        selectChart2
          .dimension(monthDim2)
          .group(monthDim2.group())
          .controlsUseVisibility(true)
          .promptText('Select All');

        selectChart3
          .dimension(prodDim2)
          .group(prodDim2.group())
          .controlsUseVisibility(true)
          .promptText('Select All');

          selectChart5
            .dimension(monthDim3)
            .group(monthDim3.group())
            .controlsUseVisibility(false)
            .promptText('Select All')
            .multiple(true)
            .numberVisible(6);

          selectChart6
            .dimension(prodDim3)
            .group(prodDim3.group())
            .controlsUseVisibility(false)
            .promptText('Select All')
            .multiple(true)
            .numberVisible(6);

          selectChart7
            .dimension(indDim4)
            .group(indDim4.group())
            .controlsUseVisibility(false)
            .promptText('Select All')
            .multiple(true)
            .numberVisible(6);

          pieChart
            .width(400)
            .height(250)
            .slicesCap(4)
            .innerRadius(70)
            .dimension(sourceDim)
            .group(sourceGroup)
            .ordinalColors(['#bd3131', '#6b6b6b', '#bababa'])
            .legend(dc.legend().highlightSelected(true))
            // workaround for #703: not enough data is accessible through .label() to display percentages
            .on('pretransition', function(chart) {
                chart.selectAll('text.pie-slice').text(function(d) {
                    return dc.utils.printSingleValue((d.endAngle - d.startAngle) / (2*Math.PI) * 100) + '%';
                })
            });


          mainTable
               .dimension(monthDim4)
               .group(monthGroup)
               .size(10)
               .columns([
                    'DATE',
                   'CUSTOMER',
                   'PRODUCT',
                   'SOURCE',
                   'AMT'
               ])

               .on('renderlet', function (table) {
                   table.selectAll('.dc-table-group').classed('info', true);
               });



        dc.renderAll();

    </script>




  <script>
    $(document).ready(function(){
        replaceClass()
    });
  </script>

  <script type="text/javascript">
  function reloadPage(){
    location.reload();
  }
  </script>





    <!-- endinject-->
  </body>

  </html>
